*,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, "sans-serif";
  font-weight: 300;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none; /* Masque la scrollbar */
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer */
}

.main {
  height: 400vh;
}
